:root {
  --background-color: #FFFFFF;

  --heading-color: #0F0F0F;
  --content-color: #4D4D4D;

  --button-background-color: #108945;
  --button-text-color: #FCFEFB;

  --alternative-color: #22AD01;

  --space: 7rem
}

/*Reset e Configuração Básica */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--background-color);
  font-size: 1vw;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--heading-color);
}

p, strong, em, ul, li, a, span {
  color: var(--content-color)
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: var(--space);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--space) / 2) var(--space);
  z-index: 11;
}

header img {
  width: 6rem;
  height: auto;
}

header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav a:hover {
  color: var(--button-background-color);
  scale: 1.1;
 
}

.hero {
  max-width: 100%; /* Ensure the hero section does not exceed viewport width */
  overflow-x: hidden; /* Hide any potential overflow */
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  z-index: 2;
  padding-inline: var(--space) 0;

  @media (orientation: portrait) {
    flex-direction: column;
    padding-inline: var(--space);
    gap: 4rem
  }
}

.hero > div:nth-child(1) {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 0;
  
  @media (orientation: portrait) {
    width: 100%;
    flex-basis: 100%;
    align-items: flex-start;
    gap: 4.5rem;
    padding-block: calc(var(--space) / 2);
  }
}

.hero > div:nth-child(1) h1, p {
  width: 70%;

  @media (orientation: portrait) {
    width: 100%;
  }
}

.hero > div:nth-child(1) h1 {
  font-size: 2.5rem;
  font-weight: 700;
  @media (orientation: portrait) {
    font-size: 7rem;
  }
}

.hero > div:nth-child(1) p {
  font-size: 1.25rem;
  font-weight: 500;
  @media (orientation: portrait) {
    font-size: 4rem;
  }
}

.hero > div:nth-child(1) a {
  font-size: 1.2rem;
  font-weight: 500;

  width: fit-content;
  color: var(--button-text-color);
  background-color: var(--button-background-color);

  padding: 16px;
  border-radius: 12px;

  @media (orientation: portrait) {
    font-size: 3.5rem;
  }

  &:hover {
    scale: 1.03;
  }
}

/* .hero > div:nth-child(2) {
  border: 1px solid red;
} */

#numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
}

.number {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0
}

.number p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  color: var(--button-background-color);
}

.portfolio {
  padding: var(--space);
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 2rem;

  max-width: 50rem;
  padding: 1rem;
  border-radius: 1rem;
/*   border: 1px solid var(--content-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 

  background-color: var(--button-text-color); */
}

.left, .right {
  opacity: 0;
}

.card img {
  max-width: 20rem;
  min-height: 10rem;
  object-fit: cover;
  border-radius: 4px;
  border: 1.5px solid var(--alternative-color);
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.card > div > a {
  color: var(--button-background-color);
}
